@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

.first-section, .second-section {
    background-color: #1F2937;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
}

li.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.second-section {
    display: flex;
    flex-direction: row;
    padding: 70px;
    justify-content: center;
    gap: 60px;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;  
}

.right-section {
    background-color: gray;
    width: 40%;
}

#placeholder {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

p.header-link {
    color: #e5e7eb;
}

.button {
    background-color: #3882F6;
    color: white;
    padding: 10px;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
} 

.third-section, .fifth-section {
    background-color: #ffffff;
}

#random {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
}

.row-of-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.container-one, .container-two, .container-three, .container-four {
    width: 4%;
    border: 3px solid hsl(217, 91%, 59%);
    padding: 50px;
    margin: 20px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 20px;
}

.row-of-subtexts {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 70px;
}

.fourth-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 50%;
    padding: 70px;
    margin: 30px;
    font-size: 36px;
    text-align: left;
    font-weight: lighter;
}

#thor {
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bold;
}

.fifth-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 50px; 
    max-height: 30px;
    margin: 80px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
}

#call-to-action {
    color: white;
    font-size: 24px;
}

#call-to-action-p {
    color: white;
    font-size: 18px;
}

#right-side {
    padding: auto;
    margin-left: 100px;
    border: 1px white solid;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
}